################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xxx/Debug
/xxx/test/Debug
/xxx/xxx/Debug
/xxx/.vs/xxx/v14
/xxx/xxx.VC.VC.opendb

/xxx/windows/winxxx/winxxx.VC.VC.opendb
/xxx/windows/winxxx/Debug
/xxx/windows/wintest/Debug
